CUSTOMERSUPPORT_RAG_AGENT.json
{
  "name": "RAG AGENT",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        440,
        0
      ],
      "id": "7adf6b5a-c9ee-4f57-beda-12a79d17e848",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MVNFuubdyxpDBCaM",
          "name": "demo"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ganesh",
          "mode": "list",
          "cachedResultName": "ganesh"
        },
        "options": {
          "pineconeNamespace": "ganesh"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        660,
        0
      ],
      "id": "d34831be-2a05-4795-90f4-0e8f55678165",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "QoLImZpuFvSKWvh7",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        540,
        180
      ],
      "id": "a43c68b7-8e02-437b-9acc-03b2479d5b24",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "fEA30U4coR4gz7J7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "splitPages": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        800,
        200
      ],
      "id": "b01a19ab-e6d0-4d84-85ca-f017dc45dc78",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -180,
        0
      ],
      "id": "3b548d73-2280-4b5b-910f-6cef89dc4931",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1aXHaM83FImY0MUU0HscqgkgkegJXXAX_",
            "mode": "list",
            "cachedResultName": "RAGAGENT",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1aXHaM83FImY0MUU0HscqgkgkegJXXAX_"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        40,
        0
      ],
      "id": "4535fa28-42d7-4728-b903-fd95bb30c2ff",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MVNFuubdyxpDBCaM",
          "name": "RAGAGENT"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.text }}",
        "options": {
          "systemMessage": "=# Overview\nyour are customer support agent for Startup IT Company. your job is to  respond to incoming emails eith relevent information using your knowlegde tool..\n#Output \n-your output should be friendly and use emoijs\n- signing off as Mr.Helpful from the Startup IT Company."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1840,
        -20
      ],
      "id": "ccdb3a7f-1e20-4319-ae7c-975c90c1ec87",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1680,
        200
      ],
      "id": "2caf4e9e-0249-4faf-8937-6db0f61f7e7a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fEA30U4coR4gz7J7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1820,
        200
      ],
      "id": "617b8005-54e8-483b-9f9c-4b56edfd5096",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "this the all information about Startup IT Company polices and FAQ "
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        2060,
        200
      ],
      "id": "063657f5-0a24-48a8-82b7-094f0230830b",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "ganesh",
          "mode": "list",
          "cachedResultName": "ganesh"
        },
        "options": {
          "pineconeNamespace": "ganesh"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2220,
        340
      ],
      "id": "edaab4c6-beb4-44c0-aa1a-b5afa1e5876e",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "QoLImZpuFvSKWvh7",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2260,
        560
      ],
      "id": "defb3796-034e-48dc-b251-07edf9407f36",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "fEA30U4coR4gz7J7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2060,
        420
      ],
      "id": "ef024a56-6de9-43a4-9a93-a7a04180403a",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "fEA30U4coR4gz7J7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        1140,
        -20
      ],
      "id": "107d29a9-611e-4fa9-b337-bbbe6e12a704",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "T9RQHaOAA7sIil1T",
          "name": "ganesh731"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "customer support ",
              "description": "=An email that is related to helping out a customer. they may be askinng  question about the polices or question about product or service."
            },
            {
              "category": "other",
              "description": "Any email is not about customer support related"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        1300,
        -20
      ],
      "id": "8032b43b-c919-4df7-8ba0-f7e4d90d9d68",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1280,
        160
      ],
      "id": "1ef96ffa-3f02-4e0d-9d49-25c0302e1585",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "fEA30U4coR4gz7J7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1500,
        380
      ],
      "id": "22c44973-bccb-4a85-bfb6-735b4c781954",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2640,
        -20
      ],
      "id": "df3e9572-644a-4ee9-b75d-f6ef5c3c8571",
      "name": "Reply to a message",
      "webhookId": "6b3a0a81-0a43-4b1a-8de7-d5bd53bdc3d9",
      "credentials": {
        "gmailOAuth2": {
          "id": "T9RQHaOAA7sIil1T",
          "name": "ganesh731"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "IMPORTANT"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2200,
        -20
      ],
      "id": "c575bab4-395e-4edf-a813-8fda95233ca7",
      "name": "Add label to message",
      "webhookId": "2a1fb971-57fc-4810-8ad5-1b38569f2eed",
      "credentials": {
        "gmailOAuth2": {
          "id": "T9RQHaOAA7sIil1T",
          "name": "ganesh731"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "198d695a6ad50a16",
          "threadId": "198d695a6ad50a16",
          "labelIds": [
            "CATEGORY_PERSONAL",
            "INBOX"
          ],
          "sizeEstimate": 5864,
          "headers": {
            "delivered-to": "Delivered-To: ganeshkaranam731@gmail.com",
            "received": "Received: from mail-sor-f65.google.com (mail-sor-f65.google.com. [209.85.220.65])\r\n        by mx.google.com with SMTPS id 5614622812f47-437967c79d8sor192055b6e.3.2025.08.23.03.59.48\r\n        for <ganeshkaranam731@gmail.com>\r\n        (Google Transport Security);\r\n        Sat, 23 Aug 2025 03:59:48 -0700 (PDT)",
            "x-received": "X-Received: by 2002:a05:6808:1810:b0:3f9:2fdc:ee93 with SMTP id\r\n 5614622812f47-4378533000cmr2592573b6e.30.1755946787949; Sat, 23 Aug 2025\r\n 03:59:47 -0700 (PDT)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1755946788; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=RkblsI/uW+DXwe02esCTHmylrji4yhGcCBnNLR/3/vgn3nIY8q6SmXn2MxEsCjKt1T\r\n         OD2AD/G1IWaiVEHkjEK1fcFKCw3jVmm7b6C6sBGUdP6gB+LlVXCZclHOCtzEgPGfC1Zo\r\n         XjMJ8cEx40Xs2I/c5mqrlkrjlk9gYPaxhRfhtrgwkudmL3q+7krbkbB0qav0RHjAjJ8H\r\n         w6DhQYLcQywe/Se6vzjTrCcvyZ3NaueBUPzdXzuKY/nt+0BjdbQO2cqmhTt0/OTXA+Oa\r\n         dXbu9N4HeKGUTx1o6N1ydFMBZ/MrhogRD7bSn+Kw7QjD2o2QySxwQLxLGJV6VMIrl/VX\r\n         prVg==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=to:subject:message-id:date:from:mime-version:dkim-signature;\r\n        bh=xlm4fBXDGkDrBis+SS2abTE00tqPftfNuDAfrJtk6sk=;\r\n        fh=rriykbWJyBqzMzajEUr4BjJyWkjh1xQCsUWYk+DDOPA=;\r\n        b=B5HZdxe6xVzIZhvGbpZWjENbOCkkoftvA4KUT/Xo5HfdQ8x7YjWQAcxZlqAsHJSCF5\r\n         5a/ay42EH8jdGl8kz0vBx3bEDw1YLk/8h2/9MSXFJzhLcXchRDAMCFLwgyufRpS6sz9E\r\n         gp2S2g/cVh8Ef+Dew2Cr4g3jTsfiCDgz3PING4UtdFwxJOUQQSGafard9cmVs3UVk6/y\r\n         98I06VyCyqdCLEYi6QQHHl/8Y/29r03uCte4AuWKy4Xka+d81OcggpbqaYfl0VfFKRYi\r\n         UhHmvDb1D5swr+r+wmGjYNMavFoJ0IAcABB4dle/CW7yOkWm/h67jIe34zZpevYS2CGP\r\n         jY2g==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20230601 header.b=\"Imq/fyCf\";\r\n       spf=pass (google.com: domain of ganeshvasudevarao2712@gmail.com designates 209.85.220.65 as permitted sender) smtp.mailfrom=ganeshvasudevarao2712@gmail.com;\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=pass header.i=@gmail.com",
            "return-path": "Return-Path: <ganeshvasudevarao2712@gmail.com>",
            "received-spf": "Received-SPF: pass (google.com: domain of ganeshvasudevarao2712@gmail.com designates 209.85.220.65 as permitted sender) client-ip=209.85.220.65;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20230601 header.b=\"Imq/fyCf\";\r\n       spf=pass (google.com: domain of ganeshvasudevarao2712@gmail.com designates 209.85.220.65 as permitted sender) smtp.mailfrom=ganeshvasudevarao2712@gmail.com;\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=pass header.i=@gmail.com",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=gmail.com; s=20230601; t=1755946788; x=1756551588; dara=google.com;\r\n        h=to:subject:message-id:date:from:mime-version:from:to:cc:subject\r\n         :date:message-id:reply-to;\r\n        bh=xlm4fBXDGkDrBis+SS2abTE00tqPftfNuDAfrJtk6sk=;\r\n        b=Imq/fyCf/QSH4C18o0kYLarsTHbbkyVksCBLoG3ztKeZKGzPXUayu1MYzC1CaeM/Ri\r\n         2i1SH+T8VvQ9/oTggvUIUp+GJOhzGARZo21ToH/X73cCNghKw10GyraWv0ybruZe3xcn\r\n         TAFoIpOJl8e9bPPkGp2ZoavEXKgMum0K6CKWSi4yo968GE9/7hdOIo05mYc5shOj9bSB\r\n         tsTJIVl396rzcU3qTARanRkP60PLZgG4ty1tlFPiC8uu0RSz4CO80vCNsftGKRNXS/pW\r\n         zT8t2jpNKo51v8mne8e4IiJsb1qKnBO/QsnJ69qx0VGeMz9ZacElFwTh1jk0LROjKWkp\r\n         Demg==",
            "x-google-dkim-signature": "X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=1e100.net; s=20230601; t=1755946788; x=1756551588;\r\n        h=to:subject:message-id:date:from:mime-version:x-gm-message-state\r\n         :from:to:cc:subject:date:message-id:reply-to;\r\n        bh=xlm4fBXDGkDrBis+SS2abTE00tqPftfNuDAfrJtk6sk=;\r\n        b=X8GL7yZcE/PJaZE4ege9UmLYV4fEsZrCg1AC/OfZjN7TEHcUW/CpCvY/rsvsB+swrp\r\n         MJwmQG7LdUUA1swS5aE41r3xc2qWWhuiTwJqbexSKLTDRwLqoUzRJVjmJOwVJLx9TxKL\r\n         OtUgk63oD4at6vJPMB2eHcS56jvV7vyAVAnZKGQpdPQC1AnLzjgj9zl0ScLJQLnnN/1u\r\n         8MBC7eVtoHrLevxzIDoCitPZXJsCpH4+6hZXcEcfPRzeqyeZxoNoxrPnpP1kTjUxlHTe\r\n         ZK+aXbEPwmvvM9yhEbbJqk+X1yCIvpYNo04gNuJgsm5pno1VhdcaM2aSA3CmBhOATipq\r\n         REsg==",
            "x-gm-message-state": "X-Gm-Message-State: AOJu0YxP/S+WGZ2cQErSCmclyiK4yVznqTpOXd+jiRVBOiPDQTq0NQuB\r\n\tTDLpF1S01KTTsfxik6qp+JT+LVcvU8CV09mfKJapoe1HUxwmsKSHt06LS+j1waJjI+pLCLmJQcS\r\n\t0e2V4NEICSH1Vd9wAtmr2NoYBF8Y+q9YWGhL2",
            "x-gm-gg": "X-Gm-Gg: ASbGnctuJwsrHTmmR+vKNca3OuIFzhmPxsr3nY7xNlal68BePD0y1lrGk+R6nKN7UCz\r\n\tDiYEgbubhq4y59HjCH/Uf7/ULJNbL/VE+p9wurZz7EDvRGmjfEbEsQVIxFOWEcviyp6sKjxCINV\r\n\t4jvwlQsSJP04IrxBJTNHL7+smXr+z3pZeNjjoKrIaRoeeX98xWD2xOnuwqZ+piq/KkZsAKuYiW0\r\n\t/pIBblk",
            "x-google-smtp-source": "X-Google-Smtp-Source: AGHT+IFyGMnUak9iJfI7xUGPf6rXtJ7l2gn5pkwVJ80WCNsNyURF9lMvPe/KfHxoxXrLhmUXo++RKHgwALT03gt/V1w=",
            "mime-version": "MIME-Version: 1.0",
            "from": "From: Ganesh Karanam <ganeshvasudevarao2712@gmail.com>",
            "date": "Date: Sat, 23 Aug 2025 16:29:37 +0530",
            "x-gm-features": "X-Gm-Features: Ac12FXwXcaSxkZP8RLyiTfGT6bti11NOEKaqiIJxzwMIsUeZeyT3er10ftIT-1o",
            "message-id": "Message-ID: <CABiNbg8iEt6rWshcqrM_KdH3XjcsPrGWdXf8Rp=2DD9GYLJVxw@mail.gmail.com>",
            "subject": "Subject: To company email",
            "to": "To: ganeshkaranam731@gmail.com",
            "content-type": "Content-Type: multipart/alternative; boundary=\"0000000000008a52fc063d06385c\""
          },
          "html": "<div dir=\"auto\">What is leave policy?can you tell about it <div dir=\"auto\"><br></div><div dir=\"auto\">Thank you</div></div>\n",
          "text": "What is leave policy?can you tell about it\n\nThank you\n",
          "textAsHtml": "<p>What is leave policy?can you tell about it</p><p>Thank you</p>",
          "subject": "To company email",
          "date": "2025-08-23T10:59:37.000Z",
          "to": {
            "value": [
              {
                "address": "ganeshkaranam731@gmail.com",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:ganeshkaranam731@gmail.com\" class=\"mp_address_email\">ganeshkaranam731@gmail.com</a></span>",
            "text": "ganeshkaranam731@gmail.com"
          },
          "from": {
            "value": [
              {
                "address": "ganeshvasudevarao2712@gmail.com",
                "name": "Ganesh Karanam"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Ganesh Karanam</span> &lt;<a href=\"mailto:ganeshvasudevarao2712@gmail.com\" class=\"mp_address_email\">ganeshvasudevarao2712@gmail.com</a>&gt;</span>",
            "text": "\"Ganesh Karanam\" <ganeshvasudevarao2712@gmail.com>"
          },
          "messageId": "<CABiNbg8iEt6rWshcqrM_KdH3XjcsPrGWdXf8Rp=2DD9GYLJVxw@mail.gmail.com>"
        }
      }
    ]
  },
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "86233e80-1a52-4675-915a-e45bb4834c32",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f4129e9494a0997de3c90913bd3714e70b67f68f9fe1a04ac45c71d1fc95dc2"
  },
  "id": "MjN2c0TQggUMpw55",
  "tags": []
}