RAG_AGENT.json
{
  "name": "RAG AGENT",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        440,
        0
      ],
      "id": "7adf6b5a-c9ee-4f57-beda-12a79d17e848",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MVNFuubdyxpDBCaM",
          "name": "demo"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ganesh",
          "mode": "list",
          "cachedResultName": "ganesh"
        },
        "options": {
          "pineconeNamespace": "ganesh"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        660,
        0
      ],
      "id": "d34831be-2a05-4795-90f4-0e8f55678165",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "QoLImZpuFvSKWvh7",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        540,
        180
      ],
      "id": "a43c68b7-8e02-437b-9acc-03b2479d5b24",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "fEA30U4coR4gz7J7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "splitPages": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        800,
        200
      ],
      "id": "b01a19ab-e6d0-4d84-85ca-f017dc45dc78",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -180,
        0
      ],
      "id": "3b548d73-2280-4b5b-910f-6cef89dc4931",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1AYbcfc_3DVop11PWF-DnYWcJq9o7pE3h",
            "mode": "list",
            "cachedResultName": "Resume ",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1AYbcfc_3DVop11PWF-DnYWcJq9o7pE3h"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        40,
        0
      ],
      "id": "4535fa28-42d7-4728-b903-fd95bb30c2ff",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MVNFuubdyxpDBCaM",
          "name": "demo"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1240,
        0
      ],
      "id": "de4cb2d5-a247-4c0d-a20f-8c3a795c2d97",
      "name": "When chat message received",
      "webhookId": "4bb89a8a-73cc-4472-878d-e090fa53a476"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1460,
        0
      ],
      "id": "ccdb3a7f-1e20-4319-ae7c-975c90c1ec87",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1440,
        200
      ],
      "id": "2caf4e9e-0249-4faf-8937-6db0f61f7e7a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fEA30U4coR4gz7J7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1580,
        220
      ],
      "id": "617b8005-54e8-483b-9f9c-4b56edfd5096",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "this the personal information about karanam ganesh and his education,skill,project,hobbies."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1820,
        220
      ],
      "id": "063657f5-0a24-48a8-82b7-094f0230830b",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "ganesh",
          "mode": "list",
          "cachedResultName": "ganesh"
        },
        "options": {
          "pineconeNamespace": "ganesh"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1740,
        420
      ],
      "id": "edaab4c6-beb4-44c0-aa1a-b5afa1e5876e",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "QoLImZpuFvSKWvh7",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1840,
        640
      ],
      "id": "defb3796-034e-48dc-b251-07edf9407f36",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "fEA30U4coR4gz7J7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2060,
        420
      ],
      "id": "ef024a56-6de9-43a4-9a93-a7a04180403a",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "fEA30U4coR4gz7J7",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3a84ead6-24de-48c6-9f68-db1190c9c2f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f4129e9494a0997de3c90913bd3714e70b67f68f9fe1a04ac45c71d1fc95dc2"
  },
  "id": "MjN2c0TQggUMpw55",
  "tags": []
}